
body {
  background-color: black !important;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.albumtext {
  color: white;
}

.artisttext {
  color: white;
}
.albumlink{
  color: white;
  font-weight: 600;
}
/* mouse over link */
.albumlink:hover {
  text-decoration: underline;
}
.artistlink{
  color: rgba(255, 255, 255, 0.397);
  font-weight: 600;
}
/* mouse over link */
.artistlink:hover {
  text-decoration: underline;
}

