
body {
  background-color: black !important;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.albumlink{
  text-decoration:none;
  font-family: 'Helvetica';
  color: white;
  font-weight: 600;
}
/* mouse over link */
.albumlink:hover {
  text-decoration: underline;
  color: white;
}
.artistlink{
  text-decoration:none;
  color: rgba(255, 255, 255, 0.397);
  font-weight: 600;
  font-family: 'Helvetica';
}
/* mouse over link */
.artistlink:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.397);
}

.CoverImage:hover {
  -webkit-filter: brightness(40%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


/*  image and icon overlay */



.CoverImage:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.icons-highlight {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}